{% extends "base.html" %}
{% block title %} <title>Contacts</title> {% endblock %}
{% block content %}
  <section class="block">
    <div class="block-text">
      <h5>#1 Contact</h5>
      <h4>Developer</h4>
      <h1>Мартюшев Тимофей Алексеевич</h1>
      <div class="icons">
        <a href="https://vk.com/dooplik" class="link_icon">
          <i class='bx bxl-vk'></i>
        </a>
        <a href="https://t.me/PRM_TIMOFEY_MARTYUSHEV" class="link_icon">
          <i class='bx bxl-telegram' ></i>
        </a>
        <a href="https://github.com/Atttractor" class="link_icon">
          <i class='bx bxl-github' ></i>
        </a>
      </div>
    </div>
  </section>
{% endblock %}